.pl {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pl-texts {
    width: 80%;
}
.pl-title {
    font-size: 50px;
    font-weight: 600;
}
.pl-desc{
    margin: 20px 0px;
}
.pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.p img {
    width: 100%;
}

@media(max-width: 767px) {
    .pl-list{
        align-items: center;
        flex-direction: column;
    }
    .p {
        width: 50%
    }
}


@media(max-width: 576px) {
    .p {
        width: 70%
    }
    .pl-texts h1 {
       font-size: 30px;
    }
}